body{
    background-image: url("img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family: "Comic Sans MS";
    color: whitesmoke;
    position: relative;
    text-align:center;
    text-shadow: 5px 5px 5px gray, 0 0 1em blue, 0 0 0.5em blue;
}
.mainTitle{
    font-size: 50px;
}

div{
    width: max-content;
    /*background-color: white;*/
}

.whiteBackground{
    background-color: white;
}

.movLeft{
    margin-top: 100px;
    margin-left: 650px;
    position: fixed;
}

h2,h3{
    color: deepskyblue;
}
h3{
    color: darkred;
}

th,
td {
    width: fit-content;
    border-collapse: collapse;
}
.lbl{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 2px 2px 2px gray, 0 0 1em blue, 0 0 0.5em blue;
}

.personal-change{
    margin-left: 100px;
    width: auto;
}

.lbl_white{
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-shadow: 1px 1px 1px gray, 0 0 1em blue, 0 0 0.5em black;
}

.table-title{
    color: coral;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 1px 1px 1px gray, 0 0 1em blue, 0 0 0.5em black;
    text-decoration: underline;
}

.table-row{
    color: dodgerblue;
    font-weight: bold;
    font-size: 15px;
    /*text-shadow: 1px 1px 1px gray, 0 0 1em blue, 0 0 0.5em black;*/
}

.import{
    color: coral;
    font-size: 40px;
    text-shadow: 1px 1px 1px gray, 0 0 1em blue, 0 0 0.5em black;
}

.table{
    margin-left: 150px;
    margin-top: 20px;
    background-color: antiquewhite;
    max-height: 500px;
}

/*.nav-link dropdown-toggle{*/
/*    color: coral;*/
/*    font-weight: bold;*/
/*}*/